In [15]:
import pandas as pd
import numpy as np
import re

import warnings
warnings.filterwarnings('ignore')

In [2]:
df_t = pd.read_csv('data/True.csv')
df_f = pd.read_csv('data/Fake.csv')

In [3]:
df_t.shape

(21417, 4)

In [4]:
df_t.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [5]:
df_f.shape

(23481, 4)

In [6]:
df_f.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [7]:
#add bool variable
df_t['type'] = 1
df_t.head(3)

,title,text,subject,date,type
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1

In [8]:
#add bool variable
df_f['type'] = 0
df_f.head(3)

,title,text,subject,date,type
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0

In [9]:
#concat dataframes
data = pd.concat([df_t, df_f],axis=0).reset_index()
data

,index,title,text,subject,date,type
0,0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1
...,...,...,...,...,...,...
44893,23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016",0
44894,23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016",0
44895,23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016",0
44896,23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016",0
44897,23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016",0

In [10]:
data = data.drop(['index'], axis=1)

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44898 entries, 0 to 44897
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    44898 non-null  object
 1   text     44898 non-null  object
 2   subject  44898 non-null  object
 3   date     44898 non-null  object
 4   type     44898 non-null  int64
dtypes: int64(1), object(4)
memory usage: 1.7+ MB

In [12]:
data.isna().sum()

title      0
text       0
subject    0
date       0
type       0
dtype: int64

In [13]:
sum(data.duplicated())

209

In [14]:
data.drop_duplicates(inplace = True)
data.reset_index(drop=True, inplace=True)

In [15]:
sum(data.duplicated())

0

In [16]:
data.describe(include=[np.object]).T

,count,unique,top,freq
title,44689,38729,Factbox: Trump fills top jobs for his administ...,14
text,44689,38646,,627
subject,44689,8,politicsNews,11220
date,44689,2397,"December 6, 2017",166

In [17]:
data['text'].describe(include=[np.object]).T

count     44689
unique    38646
top
freq        627
Name: text, dtype: object

In [18]:
data['subject'].value_counts()

politicsNews       11220
worldnews           9991
News                9050
politics            6838
left-news           4459
Government News     1570
US_News              783
Middle-east          778
Name: subject, dtype: int64

 ### Change `date` column to datetime format.

In [19]:
data['date'] = pd.to_datetime(data['date'], errors='coerce')

In [20]:
type(data['date'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [21]:
data['date'].head()

0   2017-12-31
1   2017-12-29
2   2017-12-31
3   2017-12-30
4   2017-12-29
Name: date, dtype: datetime64[ns]

### Check target balance

In [22]:
data['type'].value_counts()

0    23478
1    21211
Name: type, dtype: int64

### Text Cleaning

In [23]:
def clean_up(s):
    
    cleaned = re.sub(r"http[s]?\S+", "", s)
    clean = re.findall('[^a-zA-Z]',s)
    
    for i in clean:
        cleaned = cleaned.replace(i, ' ')
        
    cleaned = cleaned.lower()
    return cleaned

data['text_processed'] = list(map(clean_up, data['text']))
data.head(3)

,title,text,subject,date,type,text_processed
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,2017-12-31,1,washington reuters the head of a conservat...
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,2017-12-29,1,washington reuters transgender people will...
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,2017-12-31,1,washington reuters the special counsel inv...

### Tokenization

In [24]:
from nltk.tokenize import word_tokenize
import nltk

def tokenize(s):
    tokens = word_tokenize(s)
    return tokens

data['text_processed'] = list(map(tokenize, data['text_processed']))    
data.head(3)

,title,text,subject,date,type,text_processed
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,2017-12-31,1,"[washington, reuters, the, head, of, a, conser..."
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,2017-12-29,1,"[washington, reuters, transgender, people, wil..."
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,2017-12-31,1,"[washington, reuters, the, special, counsel, i..."

### Stemming and Lemmatization

In [25]:
from nltk.stem import PorterStemmer
from nltk.stem import WordNetLemmatizer 
from nltk.corpus import wordnet

def stem_and_lemmatize(l):
    ps = PorterStemmer()
    lemmatizer = WordNetLemmatizer() 
    lemmatized = [lemmatizer.lemmatize(word) for word in l]
    
    stemmed = [ps.stem(w) for w in lemmatized]
    
    return stemmed

data['text_processed'] = list(map(stem_and_lemmatize, data['text_processed']))  
data.head(3)

,title,text,subject,date,type,text_processed
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,2017-12-31,1,"[washington, reuter, the, head, of, a, conserv..."
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,2017-12-29,1,"[washington, reuter, transgend, peopl, will, b..."
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,2017-12-31,1,"[washington, reuter, the, special, counsel, in..."

### Stop Words Removal

In [26]:
from nltk.corpus import stopwords
import nltk

def remove_stopwords(l):
    without_sw = [word for word in l if not word in stopwords.words()]
    return without_sw

data['text_processed'] = list(map(remove_stopwords, data['text_processed']))  
data.head(3)

,title,text,subject,date,type,text_processed
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,2017-12-31,1,"[washington, reuter, head, conserv, republican..."
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,2017-12-29,1,"[washington, reuter, transgend, peopl, allow, ..."
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,2017-12-31,1,"[washington, reuter, special, counsel, investi..."

### Store clean data to `data.csv` file

In [27]:
data.to_csv('data/data.csv', index=False)

In [2]:
data = pd.read_csv('data/data.csv')

In [16]:
data.isna().sum()

title             0
text              0
subject           0
date              0
type              0
text_processed    0
dtype: int64

In [17]:
data['text'] = data['text'].replace(r'^\s*$', np.NaN, regex=True)

In [18]:
data.isna().sum()

title             0
text              0
subject           0
date              0
type              0
text_processed    0
dtype: int64

In [19]:
data = data.dropna()
data = data.reset_index(drop=True)

In [20]:
data.isna().sum()

title             0
text              0
subject           0
date              0
type              0
text_processed    0
dtype: int64

In [21]:
type(data['text_processed'][0])

str

### Store clean data of _real_ news to a separate file `.csv`.

In [22]:
freq_t = data[data['type']== 1]

In [23]:
freq_t.to_csv('data/t_sample.csv', index=False)

In [25]:
def get_w(text):
    words = []
    for i in text:
        for j in i.split():
            words.append(j.strip())
    return words
part = get_w(freq_t.text_processed)
part[:10]

["['washington',",
 "'reuter',",
 "'head',",
 "'conserv',",
 "'republican',",
 "'faction',",
 "'congress',",
 "'vote',",
 "'month',",
 "'huge',"]

### Show top 10 real words

In [26]:
from collections import Counter

counter = Counter(part)
most_common = counter.most_common(10)
most_common = dict(most_common)
most_common

{"'said',": 95795,
 "'trump',": 54072,
 "'wa',": 47399,
 "'hi',": 37565,
 "'state',": 37282,
 "'would',": 31238,
 "'presid',": 29703,
 "'reuter',": 27086,
 "'republican',": 22844,
 "'year',": 22121}

In [35]:
real_10 = pd.DataFrame(part)
real_10.value_counts()[:10]

'said',          95795
'trump',         54072
'wa',            47399
'hi',            37565
'state',         37282
'would',         31238
'presid',        29703
'reuter',        27086
'republican',    22844
'year',          22121
dtype: int64

### Store clean data of _fake_ news to a separate file `.csv`.

In [28]:
freq_f = data[data['type']== 0]

In [29]:
freq_f.to_csv('data/f_sample.csv', index=False)

In [31]:
part_fake = get_w(freq_f.text_processed)
part_fake[:10]

["['donald',",
 "'trump',",
 "'wish',",
 "'american',",
 "'happi',",
 "'new',",
 "'year',",
 "'leav',",
 "'instead',",
 "'give',"]

### Show top 10 fake words

In [32]:
counter = Counter(part_fake)
most_common_f = counter.most_common(10)
most_common_f = dict(most_common_f)
most_common_f

{"'trump',": 79690,
 "'wa',": 67779,
 "'hi',": 58434,
 "'said',": 33691,
 "'presid',": 29994,
 "'peopl',": 26564,
 "'state',": 25395,
 "'would',": 23505,
 "'like',": 21870,
 "'say',": 20919}

### Another method to show top 10 fake words

In [34]:
fake_10 = pd.DataFrame(part_fake)
fake_10.value_counts()[:10]

'trump',     79690
'wa',        67779
'hi',        58434
'said',      33691
'presid',    29994
'peopl',     26564
'state',     25395
'would',     23505
'like',      21870
'say',       20919
dtype: int64